:root {
  --bg-color: #F4F0EF;
  --button-text-color: #172B4D;
  --title-color: #DC332E;

}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

body {
  background-color: white;
}

.header {
  width: 100%;
  height: 20vh;
  background-image: url(./images/rainbow.jpg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  background-color: #F4F0EF;
}

#logo {
  background-color: none;
  width: 100%;
  max-width: 320px;
  align-content: center;
  position: relative;
  
}

#sound-button {
  margin-left: 2%;
}

.button {
  font-size: x-large;
  border: none;
  background-color: white;
  color: var(--button-text-color);
  cursor: pointer;
}

#sound-button-on, #sound-button-off {
font-size: 1rem;
margin-left: 1.5%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  font-size: 100%;
  height: 20%;
}


.gif-container {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
}

.useless-fact-container {
  display: flex;
  justify-content: center;
  padding: 5%;
  margin-bottom: none;
  position: sticky;
  top:0;
  background-color: white;
}

.icon-container {
  padding: 7%, 7%;
  display: flex;
  justify-content: space-between;
  margin-top: -10vh;
  width: 90%;
  margin-top: 3vh;
  margin-left: 5%;
  margin-right: 2%;
}

#next-button {
  margin-left: 70%;
  width: 50%;

}

#favorites-button {
 margin: 15px 3px 5px 0px;
 margin-left: 2%; 
  
}

.my-favorites-title-container {
  margin: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-favorites {
  text-align: center;
  font-size: x-large;
}

h3 {
  position: sticky;
  top: 0;
  display: inline-block;
  text-align: center;
  color: var(--title-color);
  font-size: x-large;
  width: 100vh;
}

a {
  color: var(--button-text-color);
}


.palabra-favoritos {
  margin: 3vh 3vw;
  font-size: x-large;
}

.list-container {
  margin: 5vh 7.5%;
  height: 20vh;
  overflow-y: scroll;
  width: 75%;
  margin-bottom: 15vh;
  background-color: white;
}

li {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 8%;
  list-style-type: disclosure-closed;
  list-style-position: inside;
}

.footer {
  width: 100%;
  height: 22vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: url("./images/rainbow.jpg");
  background-repeat: repeat-x;
  background-color: var(--bg-color);
  flex-direction: column-reverse;
}

h2 {
  text-align: center;
}

.footer-text {
  font-size: 1rem;
}

@media (min-width: 601px) and (max-width: 1024px) {
  
.header{
  max-height: 25%;
}

.footer{
  max-height: 15%;
}

}


@media (max-width: 600px) {

  #logo{

    max-width: 200px;
  }

  li{
    margin-top: 3%;
  }

h1{
  margin-top: 5%;
}

h4{
  margin-left: 3%;
  margin-right: 4%;
}

  #next-button {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  #favorites-button {
    margin-right: 3px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 20px;
  }

  .footer-text {
    font-size: 0.7rem;
  }

  .footer {
    width: 100%;
    height: 12vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  
}
