
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Comfortaa', cursive;
}

:root{
  --bg-color: #F4F0EF ;
  --button-color: #172B4D;

}


.header {
width: 100vw;
height: 22vh;
background-image: url(./images/rainbow.jpg);
  background-repeat: repeat-x;
/*background-color: var(--bg-color);*/
border: solid black;
display:flex;
justify-content: center;
}

#logo{
  width: 15vw;
  align-content: center;
}

.gif-container  {
  display:flex;
  justify-content: center;

}

.useless-fact-container {
  display:flex;
  justify-content: center;
  padding: 5%;
}

.icon-container {
  padding: 2px,0px;
  margin: 2px, 0px;
  display:flex;
  justify-content:space-between;
}


.my-favorites-title-container {
  margin: 6vh;
}

h3{
  margin: 3vh, 20vw;
  text-align: center;
  color:red;
  font-size: x-large;

  }




  #heart-icon{
    display: flex;
    width: 2vw;
    height: 4vh;
  }
  #next-icon{
    display: block;
    width: 2vw;
  }
  /*.favorite-text{
display: block;
  }
  .next-text{
display: block;
  }*/

a{
  color: var(--button-color);
}


  .palabra-favoritos{
    margin: 3vh 3vw;
    font-size: x-large;

  }
  .scrollable {
    height: 100px; /* Altura deseada */
    overflow-y: scroll; /* Habilitar el scroll vertical */
  }

  .footer {
    width: 100vw;
    height: 22vh;
    border: solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: url(./images/rainbow.jpg);
    background-repeat: repeat-x;
    flex-direction: column-reverse;
  }

  .footer-text{
    
font-size: 1rem;
  }